body, h3, div, canvas, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.dropbox-and-preview {
  margin-right: 20px;
}

#dropbox {
  border: 3px black dashed;
  width: 200px;
  height: 300px;
}

#canvas-static {
  border: 2px green solid;
  width: 100px;
  height: 100px;
}

/*.dynamic-canvas canvas {
  border: 1px gray solid;
}*/
